In [3]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('Dataset - Form responses 1 (1).csv')

# Display the column names to check if 'Marks' exists
print(df.columns)

# Replace blank values with NaN
df.replace("", pd.NA, inplace=True)

# Handle missing values if 'Marks' exists
if 'Marks' in df.columns:
    df['Marks'].fillna(df['Marks'].mean(), inplace=True)
else:
    print("Column 'Marks' not found in the DataFrame")

# Display the updated dataset
print(df)

Index(['NAME', 'ROLL NUMBER', 'SECTION ', 'DEPARTMENT ', 'GENDER', 'MARKS',
       'STIPENED'],
      dtype='object')
Column 'Marks' not found in the DataFrame
              NAME  ROLL NUMBER SECTION  DEPARTMENT   GENDER   MARKS  STIPENED
0              NaN   12237110.0      NaN         MBA    MALE    25.0      1000
1            Sagar    1222124.0        C         BBA    MALE    66.0      2000
2    Sheikh Faisal    1222141.0        C         BBA    MALE  1000.0      1500
3          Shiwani   12237108.0        B         MBA    MALE     NaN      1600
4            Mehak          NaN       4B         BBA    MALE    33.0      2500
5        Aman Raj           NaN        C         BBA  FEMALE     NaN     20000
6     Tanu kumari     1222074.0        B         BBA     NaN   111.0     30000
7          Tushar           NaN        B         MBA  FEMALE    22.0       200
8    Prabhjot kaur    1222097.0        B         BBA    MALE     NaN      2600
9            ADITI    1222370.0        B         BBA     NaN    56.0      1900
10     Nidhi Singh   11222786.0        A         BBA    MALE    -2.0      1800
11             NaN    1222184.0        C         BBA    MALE    22.0      1650
12  Chandan Kumar    12237243.0        D         NaN     NaN    99.0     35000
13   Sheikh Faisal    1222141.0        C         BBA    MALE  1000.0      1500
14   Prabhjot kaur    1222097.0        B         BBA    MALE     NaN      2600
15    Tanu kumari     1222074.0        B         BBA     NaN   111.0     30000
16     Nidhi Singh   11222966.0        A         BBA    MALE    -2.0      1800
17          Himani   11222565.0        B         LLB  FEMALE    45.0       785
18           Komal   11222965.0        D       BTECH  FEMALE    65.0       100
19            Rani   11222656.0        E         MBA  FEMALE    56.0        78
20           Vimal    1122266.0        F         BCA    MALE    66.0        66
21          sumant   11222656.0        L      PHARMA    MALE   100.0    200000
22        Himanshu   11222969.0        M       BTECH    MALE   600.0    300000